@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-work: "Work Sans";
    --font-crimson: "Crimson Text";
    --color-primary: #74C69D;
    --color-dark: #212529;

    --leading-1.25: 1.25em;

    --shadow-member: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);

    --spacing-mw: calc(50vw - var(--breakpoint-xl)/2);

    --radius-button: 5px;
    --radius-card: 5px;

    --animate-navbar: slide-in 0.6s ease-in-out;
    --animate-navbar-reverse: slide-out 0.6s ease-in-out;

    --navbar-width: max(160vw , calc(200vw - 150px));

    @keyframes slide-in {
        0% {
            transform: translateX(50%);
            border-color: rgba(0,0,0,0.0);
            display: none;        
        }
        100% {
            transform: translateX(0);
            border-color: rgba(0,0,0,0.2);
            display: block;
        }
    }

    @keyframes slide-out {
        0% {
            transform: translateX(0);
            border-color: rgba(0,0,0,0.2);
            display: block;
        } 
        100% {
            transform: translateX(50%);
            border-color: rgba(0,0,0,0.0);
            display: none;        
        }
    }
}

.learn-more-button {
    @apply flex items-center justify-center w-[170px] h-[50px] bg-dark rounded-button text-white font-work font-bold text-base;
    
    span{
        @apply font-work font-normal text-xl text-white;
    }
  }

.explore-button {
    @apply flex items-center justify-center w-[170px] h-[48px] bg-white rounded-button font-work font-bold text-base mt-2.5;
    
    span{
        @apply font-work font-normal text-xl text-black;
    }
  }

.info-card {
    @apply flex max-lg:flex-col gap-7.5 justify-between;

    img{
        @apply w-full lg:w-6/12;
    }
    div{
        @apply flex flex-col items-start justify-center align-middle lg:w-5/12 gap-5 p-5;
        height:inherit;

        h1{
            @apply font-crimson text-4xl leading-1.25 font-bold;
        }
        p{
            @apply font-work text-base leading-1.25 text-gray-500;
        }
    }
}

.section-header {
    @apply flex flex-col items-center gap-4;
    h3{
        @apply font-work font-bold text-base tracking-[5px] leading-1.25 text-primary uppercase
    }
    h2{
        @apply font-crimson font-bold text-2xl leading-1.25 text-black;
    }
    p {
        @apply font-work font-normal text-xl leading-1.25 text-black text-center;
    }
}


.team-members{
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8.75 justify-around items-center;
    & > div{
        @apply bg-white rounded-card w-[280px] h-[300px] flex flex-col items-center justify-center p-5 shadow-member;
        div{
            @apply flex flex-col w-[200px] h-[260px] items-center justify-between;
            img{
                @apply w-[175px] h-[175px];
            }
            h2{
                @apply text-left w-full font-crimson text-2xl leading-1.25 font-bold text-black;
            }
            p{
                @apply text-left w-full font-work text-base leading-1.25 text-gray-700;
            }
        }
    }
    & :nth-child(4) {
        @apply md:col-start-2 xl:col-auto;
    }
}